.glass {
  position: fixed;
  inset: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.inner-container {
  margin: 1.2rem;
  padding: 1.2rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}


.inner-container-medium {
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  width: 28%;
  overflow: hidden;
}

.inner-container-medium-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.inner-container-medium.but-larger {
  width: 44%;
}

.music-player-iframe-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inner-container-medium-but-larger-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;

}

.yunmusic-iframe-transform {
  transform: scale(1.1);
  margin-top: -1rem;

}

.container-send-comment {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-left: 3rem;
}

.container-comments {
  margin: 1.2rem;
  padding: 1.2rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  width: 95%;
  align-items: center;
  margin-left: 0.4rem;

}

.container-stats {
  display: flex;
  gap: 40px;
  background-color: white;
  border-radius: 12px;
  padding: 12px 30px;
  max-width: 40rem;
  margin: 2rem 0 2rem 16rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  align-items: center;

}

