*{
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar{
    width: 0.4rem;
}

::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
}